<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheRockCollecting"
        tools:targetApi="31">
        <activity
            android:name=".UpdateProfileActivity"
            android:exported="false" />

        <activity
            android:name=".ItemAdapter2"
            android:exported="false" />
        <activity
            android:name=".SellActivity"
            android:exported="false" />
        <activity
            android:name=".TargetAmountActivity"
            android:exported="false"
            android:label="Stone Category Target" />
        <activity
            android:name=".AppInfoActivity"
            android:exported="false"
            android:label="About Application" />
        <activity
            android:name=".WishlistActivity"
            android:exported="false"
            android:label="Wishlist" />
        <activity
            android:name=".ViewByCategoryActivity"
            android:exported="false"
            android:label="View by Category" />
        <activity
            android:name=".ViewAllItemActivity"
            android:exported="false"
            android:label="View All Stones" />
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="Login" />
        <activity
            android:name=".AddItemActivity"
            android:exported="false"
            android:label="The Rock Add Item" />
        <activity
            android:name=".DashboardActivity"
            android:exported="false"
            android:label="Dashboard" />
        <activity
            android:name=".RegisterActivity"
            android:exported="true"
            android:label="Register">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>